.content {
    grid-area: c;
    background-color: #e930de;
}
.postBlock {
    padding: 10px;
}
.post__list {
    list-style: none;
    padding: 0;
}
.post__item img {
    width: 60px;
    border-radius: 40px;
}
